@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Sora', 'Montserrat', sans-serif;
    text-align: center;
}
html, body {
    width: 100%;
}
html {
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
    color: #800000;
    font-weight: 700;
}
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;    
}

/* Header */
header {
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    width: 100%;
    background-color: #21252f;
}
header nav {
    padding-top: 10px;
}
header h4 {
    padding: 10px 0;
    color: white;
}
header ul li {
    display: inline;
    font-size: small;
    margin: 0 5px;
    padding: 10px;
}
header ul li:hover {
    background-color: #800000;
    color: white;
}
header ul li a,
header ul li a:link,
header ul li a:visited,
header ul li a:hover,
header ul li a:active {
    text-decoration: none;
    /* color: #800000; */
    color: white;
}
header ul li a:hover {
    color: white;
}

.full-vh {
    height: 100vh;
}
.full-width {
    width: 100%;
}

/* Main */
/* Hero Section */
.hero h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bolder;
}
.hero a,
.hero a:link,
.hero a:visited,
.hero a:hover,
.hero a:active {
    text-decoration: none;
    color: #ffffff;
}
.hero {
    background-image: url('./cover.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.btn-got-a-proj, .btn-hire-me {
    display: inline-block;
    border: 1px #800000 solid;
    padding: 7px 15px;
    margin: 0;
    font-size: medium;
}
.btn-got-a-proj {
    background-color: #800000;
}
.btn-hire-me {
    background-color: #ffffff;
    color: #800000;
}
.btn-got-a-proj:hover, .btn-hire-me:hover {
    cursor: pointer;
}

.who-am-i-section {
    background-color: #fcfcfc;
    /* background-color: rgba(128, 0, 0, 0.3); */
}
.sub-heading {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #21252f;
    color: #21252f;
    font-size: medium;
    font-weight: bold;
}

.skills-section {
    background-color: #ffffff;
}
.projects-section {
    background-color: #fcfcfc;
}
.contact-section {
    background-color: #ffffff;
}

/* Footer */

footer {
    font-size: small;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background-color: #800000;
    color: white;
}
footer a:link, a:visited a:hover, a:active {
    color: white;
    text-decoration: none;
}
footer p {
    margin: 5px;
}
footer span {
    padding: 5px 10px;
    font-size: smaller;
    color: white;
}
footer span:hover {
    font-weight: bold;
    color:#800000;
    background-color: white;
    border-radius: 3px;
}